@import "./partials/setup";
$primaryGreen: #91f8b9;
$primaryBlue: #65ddf2;
$primaryPurple: #915fed;

//GENERAL STYLING /////////////////////
body {
	font-family: sans-serif;
	// height: 100vh;
	margin: 0;
	color: #333;
	font-family: 'Abel', sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.wrapper {
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
	position: relative;
}
img {
	max-width: 100%;
	border: 0;
}
h1 {
	margin: 0;
	letter-spacing: 2px;
	font-size: 22px;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav {
	width: 100%;
	z-index: 10;
	box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.2);
	ul {
		list-style-type: none;
		padding: 5px 15px;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.Link {
			text-decoration: none;
			padding: 0 15px;
			margin: 0 5px;
			&:hover {
				background-color: $primaryGreen;
			}
		}
		.logOutBtn {
			text-transform: uppercase;
			border: 0;
			padding: 5px 20px;
			-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
			-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
			box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
			margin-left: 10px;
		}
	}
}
.ImageUpload {
	border: 2px solid yellow;
}

// LOG IN PAGE ///////////////////////////////////////
.logInPage {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#915fed+5,7d96e8+24,5fbff8+46,65ddf2+59,66f9f1+76,91f8b9+100 */
	background: rgb(145,95,237); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(145,95,237,1) 5%, rgba(125,150,232,1) 24%, rgba(95,191,248,1) 46%, rgba(101,221,242,1) 59%, rgba(102,249,241,1) 76%, rgba(145,248,185,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(145,95,237,1) 5%,rgba(125,150,232,1) 24%,rgba(95,191,248,1) 46%,rgba(101,221,242,1) 59%,rgba(102,249,241,1) 76%,rgba(145,248,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(145,95,237,1) 5%,rgba(125,150,232,1) 24%,rgba(95,191,248,1) 46%,rgba(101,221,242,1) 59%,rgba(102,249,241,1) 76%,rgba(145,248,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#915fed', endColorstr='#91f8b9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	h1 {
		margin: 0;
		letter-spacing: 1px;
		font-size: 36px;
	}
	
	.logInContainer {
		background-color: rgba(255,255,255,.9);
		padding: 40px 80px;
		color: $primaryPurple;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		text-align: center;
		-webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.15);
		box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.15);
		img {
			padding: 30px 0;
		}
		button {
			border: 3px solid $primaryPurple;
			text-transform: uppercase;
			color: $primaryPurple;
			background-color: transparent;
			padding: 8px 20px;
			transition: 0.3s all ease;
			margin-top: 10px;
			font-size: 18px;
			&:hover {
				background-color: $primaryPurple;
				color: white;
			}
		}
	}
}




/////////////////////////////////////////


.uploadImage {
	margin: 25px 0;
	position: relative;
	input {
		width: 200px;
	}
}
.canvas {
	display: flex;
	justify-content: space-between;
	.imgContainer {
		width: 65%;
		height: 500px;
		img {
			max-height: 500px;
		}
	}

	.sideBar {
		display: flex;
		flex-direction: column;
		width: 30%;
		input[type=range] {
			width: 100%;
			max-width: 350px;
			margin-bottom: 20px;
		}
		.buttonContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	
}




// BUTTON STYLING //////////////////
.logoBtn {
	cursor: pointer;
}
input[type=submit] {
	cursor: pointer;
	width: 100px;
	background-color: #fff;
	padding: 7px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	transition: 0.3s all ease;
	&:hover {
		color: white;
	}
}
.uploadBtn {
	border: 3px solid $primaryBlue;
	&:hover {
		background-color: $primaryBlue;
		color: white;
	}
}
.uploadFile {
	// border: 2px solid red;
}

.resetBtn {
	border: 3px solid $primaryPurple;
	&:hover {
		background-color: $primaryPurple;
		color: white;
	}
}
.saveBtn {
	border: 3px solid $primaryGreen;
	&:hover {
		background-color: $primaryGreen;
		color: white;
	}
}


// VIEW POSTS ROUTE /////////////////////
.downloadedImages {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	li {
		width: calc(25% - 2%);
		margin: 1%;
	}
	
}

// MEDIA QUERIES!!! //////////////////////
@media (max-width: 767px) {
	.canvas {
		flex-direction: column;
		.imgContainer {
			width: 100%;
			height: 400px;
			margin-bottom: 2%;
			img {
				max-height: 400px;
			}
		}
		.sideBar {
			width: 100%;
			.filters {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				div {
					width: 47%;
				}
			} 
			.buttonContainer {
				justify-content: space-around;
			}
		}
	}
}
@media (max-width: 480px) {
	h1 {
		display: none;
	}
	.canvas {
		flex-direction: column;
		.imgContainer {
			width: 100%;
			height: 340px;
			margin-bottom: 2%;

			img {
				max-height: 340px;
			}
		}
	}
}